extends layout

block content
  h1= title

  form(method='POST' action='')
    .form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Name of recipe' name='title' required='true' value=(undefined===recipe ? '' : recipe.title) )
    .form-group
      label(for='author') Author:
      input#author.form-control(type='text', placeholder='Name of author' name='author' required='false' value=(undefined===recipe ? '' : recipe.author) )
    .form-group
      label(for='serves') Serves:
      input#serves.form-control(type='number', placeholder='4' name='serves' required='true' value=(undefined===recipe ? 4 : recipe.serves) )
    .form-group
      label(for='prepTime') Preparation Time:
      input#serves.form-control(type='number', placeholder='4' name='prepTime' required='false' value=(undefined===recipe ? 4 : recipe.prepTime) )
    .form-group
      label(for='cookTime') Cooking Time:
      input#serves.form-control(type='number', placeholder='4' name='cookTime' required='false' value=(undefined===recipe ? 4 : recipe.cookTime) )    
    .form-group
      label(for='description') Description:
      textarea#description.form-control(placeholder='Description', rows='3' name='description' required='false')=(undefined===recipe ? '' : recipe.description)
    .form-group
      label(for='ingredients') Ingredients:
      textarea#ingredients.form-control(placeholder='Ingredients', rows='5' name='ingredients' required='true')=(undefined===recipe ? '' : recipe.ingredients.join('\n'))
    .form-group
      label(for='method') Method:
      textarea#method.form-control(placeholder='Method', rows='5' name='method', required='true')=(undefined===recipe ? '' : recipe.method.join('\n'))
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg