extends layout

block content
  h1= title
  
  ul.list-group
    each recipe in recipes
        if recipe.title
          a.list-group-item.list-group-item-action(href=recipe.url) #{recipe.title} (#{recipe.author})
        else
          a.list-group-item.list-group-item-action(href=recipe.url) #[em No name]

    else
      li There are no recipes.