extends layout

block content
  h1= title
  
  ul
    each recipe in recipe_list
      li 
        if recipe.title
          a(href=recipe.url) #{recipe.title} 
          |  (#{recipe.author})
        else
          a(href=recipe.url) #[em No name]

    else
      li There are no recipes.