extends layout

block append scripts
  script(src='/javascript/recipe_detail.js')

block content
  .row.m-3
    .col.text-center
      h2 #{recipe.title}
      if recipe.author
        p.font-italic #{recipe.author}
      else
        p.font-italic Unknown Author
      if recipe.description
        p #{recipe.description}


  .row
    .col-md-6
      h3 Ingredients
      p Select any ingredients you already have
      .list-group(id='ingredients')
        each i in recipe.ingredients.items
          a.list-group-item.list-group-item-action(
            data-id=i.id,
            data-quantity=i.quantity,
            data-unit=i.unit,
            data-ingredient=i.ingredient,
            name='ingredient') #{i.text}
      .input-group.mt-2
        input.form-control(
          type='number',
          name='serves',
          value=(undefined===recipe ? 4 : recipe.serves)
          original=(undefined===recipe ? 4 : recipe.serves)
        )
        .input-group-append
          span#basic-addon2.input-group-text Serves

    .col-md-6
      h3 Method
      ol.list-group(id='method')
        each s in recipe.method
          li.list-group-item= s
  if locals.profile
    .row
      .col.my-2
        .btn-group
          button.btn.btn-primary.dropdown-toggle.mx-1(type='button' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false") Add to list
          .dropdown-menu
            each list in user.lists
              button.dropdown-item(type="button", name="addToList", data-listId=list.id) #{list.name}
            else
              a.dropdown-item(href='/user') Make a list first!
        a.btn.btn-secondary.mx-1(role='button' href=`/recipe/update/${recipe.id}`) Edit recipe
        button.btn.btn-danger.mx-1(type='button' href=`/cookbook/`) Delete recipe
