extends layout

block append scripts
  script(src='/javascript/user_home.js')

block content
  .row
    .col
      h2.text-center Hi, #{locals.profile.display_name}
      p.lead.text-center Here are your shopping lists
  if lists.length !== 0
    .row.justify-content-center
      each list in lists
        .col-md-auto.my-2
          .card
            .card-header.text-center #{list.name}
              .float-right
                button.btn.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split.btn-sm(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  span.sr-only Toggle dropdown
                .dropdown-menu
                  button.dropdown-item(type="button", data-toggle="modal", data-target="#addItemModal", data-listId=list.id) Add
                  button.dropdown-item(type="button", data-toggle="modal", data-target="#shareListModal", data-listId=list.id) Share
                  button.dropdown-item(type="button", data-toggle="modal", data-target="#deleteListModal", data-listId=list.id, data-listName=list.name) Delete
            ul.list-group
              each item in list.items
                a.list-group-item.list-group-item-action(name=`${list.id}-item` data-id=item.id) #{item.text}
              else
                li.list-group-item It's empty!
            .card-footer.text-center
              button.btn.btn-danger(type="button" name="removeItems" data-listid=list.id) Remove selected items
  else 
    .row
      .col.text-center
        p There's nothing to buy!
  .row
    .col
      button.btn.btn-primary(type='button', data-toggle='modal', data-target='#createListModal') Create List

  #createListModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        form(action="/user/list/create", method="post")
          .modal-header
            h5#exampleModalLabel.modal-title Create a list
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
              .form-group
                label(for='name') List name
                input#name.form-control(type='text', name='name', placeholder="Descriptive name for your list", required="true")
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Create

  #deleteListModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        form(action="/user/list/delete", method="post")
          .modal-header
            h5#exampleModalLabel.modal-title Delete a list
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            p test
            input#deleteListId.form-control(type='text', name='listId', required="true", value="", hidden)
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-danger(type='submit') Delete

  #shareListModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Share a list
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form(onsubmit="return false;")
              .input-group
                input#searchUsers.form-control(type='text' name='name' required='true', placeholder="Search users by name or email")
                .input-group-append
                  button.btn.btn-outline-secondary(type="submit", id='searchUserButton') Search
            .content(id='search-results')
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #addItemModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        form(action="/user/list/add/single", method="post")
          .modal-header
            h5#exampleModalLabel.modal-title Add an item
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            input#addItemListId.form-control(type='text', name="listId" value="" required="true" hidden)
            input#addItem.form-control(type='text', name="originalText", required="true",placeholder="Your item")
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Add
